<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{{asset('bootstrap.min.css')}}" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <script src="{{ asset('jquery-3.6.0.min.js') }}"></script>

    <title>Title</title>
</head>
<body>
<div>
    <nav class="left-col">
        <div class="first-block">
            <div class="tickets">
                <label for="tickets" class="">
                    <img id="tickets" src="">
                </label>
            </div>
            <div class="my-org">
                <label for="org">
                    <img id="org" src="">
                </label>
            </div>
            <div class="my-prod">
                <label for="prod">
                    <img id="prod" src="">
                </label>
            </div>
        </div>
    </nav>
</div>
</body>
</html>